{% extends 'index.html' %}
{% load static %}
{% block btitle %}

{% endblock %}



{% block content %}

	<div class="first-widget parallax" id="blog">
		<div class="parallax-overlay">
			<div class="container pageTitle">
				<div class="row">
					<div class="col-md-6 col-sm-6">
						<h2 class="page-title">ADD FIRMWARE FILES</h2>
					</div> <!-- /.col-md-6 -->
					
				</div> <!-- /.row -->
			</div> <!-- /.container -->
		</div> <!-- /.parallax-overlay -->
	</div> <!-- /.pageTitle -->

	<div class="container  " >	
		

			

			<div class="row">
				<div class="col-md-12">
					<div class="comment-form">
						
						<div class="widget-inner">
							<form action="" method="post" enctype="multipart/form-data">	
								{% csrf_token %}
							  <div class="row">
								<div class="col-md-6">
									<p>
										<label for="email-id">Device name:</label>
										{{ form.device_name }}
									</p>
								</div>
								<div class="col-md-6">
									<p>
										<label for="email-id">File:</label>
										{{ form.file }}
									</p>
								</div>
								<div class="col-md-6">
									<p>
										<label for="email-id">link:</label>
										{{ form.link }}
									</p>
								</div>
                                <div class="col-md-6">
									<p>
										<label for="email-id">description:</label>
										{{ form.description }}
									</p>
								</div>
                                <div class="col-md-6">
									<p>
										<label for="email-id">installation guide:</label>
										{{ form.installation_guide }}
									</p>
								</div>
                                <div class="col-md-6">
									<p>
										<label for="email-id">image1:</label>
										{{ form.image1 }}
									</p>
								</div>
                                <div class="col-md-6">
									<p>
										<label for="email-id">image2:</label>
										{{ form.image2 }}
									</p>
								</div>
                                <div class="col-md-6">
									<p>
										<label for="email-id">image3:</label>
										{{ form.image3 }}
									</p>
								</div>
                                <div class="col-md-6">
									<p>
										<label for="email-id">image4:</label>
										{{ form.image4 }}
									</p>
								</div>
							   
							</div>
							
							<div class="row">
								<div class="col-md-12">
									<button type="submit" style="padding: 9px;">add firmware</button>
								</div>
							</div>
							</form>
							

						</div> <!-- /.widget-inner -->
					</div> <!-- /.widget-main -->
				</div> <!-- /.col-md-12 -->
			</div> <!-- /.row -->

		</div> <!-- /.row -->
	</div> <!-- /.container -->	


	
{% endblock %}
