{% extends 'index.html' %}
{% load static %}
{% block btitle %}
{% endblock %}

{% block content %}


	<div class="first-widget parallax" id="blogId">
		<div class="parallax-overlay">
			<div class="container pageTitle">
				<div class="row">
					<div class="col-md-6 col-sm-6">
						<h2 class="page-title">{{ obj.name }}-CRACKED TOOLS</h2>
					</div> <!-- /.col-md-6 -->
					
				</div> <!-- /.row -->
			</div> <!-- /.container -->
		</div> <!-- /.parallax-overlay -->
	</div> <!-- /.pageTitle -->

	<div class="container">	
		
		<div class="row">
			<div class="col-md-8 blog-posts">
				{% for x in obj1 %}
				<div class="row">
					<div class="col-md-8">
						<div class="post-blog">
							<div class="blog-image">
								<img src="{{ x.image1.url }}" alt="">
							</div> <!-- /.blog-image -->
							<div class="blog-content">
								
								<h3>{{ obj.name }}-{{ obj.type }}</h3>
								<h4>File descriptions</h4>
								<p>{{ x.description }}</p>
								<br/>
								<h4>DOWNLOAD FILE</h4>
								<a href=" " download="{{x.file}}">download link1</a>
								<br/>
								<a href="{{ x.link }} ">download link2</a>
								<br/>
								<div class="tag-items">
									<h4>Installation Guide</h4>
                                    <span class="small-text">steps:</span>
                                    <textarea name="" id="" cols="50" rows="7" disabled>
										{{ x.installation_guide }}
									</textarea>
                                </div>
							</div> <!-- /.blog-content -->
						</div> <!-- /.post-blog -->
					</div> <!-- /.col-md-12 -->
				</div> <!-- /.row -->

				{% endfor %}

				<div class="row">
					<div class="col-md-12">
						<div id="blog-author" class="clearfix">
                            <a href="#" class="blog-author-img pull-left">
                                <img src="{% static 'images/includes/author.png' %}" alt="">
                            </a>
                            <div class="blog-author-info">
			
									<h3 class="service-title">Any problem with your device</h3>
									<p>Check <a rel="nofollow" href="http://fontawesome.io/icons/" target="_blank">Gmp-solutions</a> for your suitable solutions. Example: frp-bypass, firmwares installations and many more</p>
								</div> <!-- /.service-cnt-wrap -->
							 
                        </div>
					</div> <!-- /.col-md-12 -->
				</div> <!-- /.row -->

				<div class="row">
					<div class="col-md-12">
                        <div id="blog-comments" class="blog-post-comments">
                            <h3><b>Comments</b></h3>
                            <div class="blog-comments-content">
								{% for c in obj2 %}
                                <div class="media">
                                    <div class="pull-left">
                                        
                                    </div>
									
                                    <div class="media-body">
                                        <div class="media-heading">
                                        	<h4>{{ c.email }}</h4> 
                                        	<a href="#"><span>6 weeks ago</span><span>Reply</span></a>
                                        </div>
                                        <p>{{ c.comment }}</p>
                                    </div>
									
                                </div>
								{% endfor %}
                            </div> <!-- /.blog-comments-content -->
                        </div> <!-- /.blog-post-comments -->
                    </div> <!-- /.col-md-12 -->
				</div> <!-- /.row -->
				<div class="row">
                    <div class="col-md-12">
                        <div class="comment-form">
                            <h3>Leave a comment</h3>
                            <div class="widget-inner">
                            	<form action="" method="post">	
									{% csrf_token %}
                                  <div class="row">
									<div class="col-md-6">
                                        <p>
                                            <label for="email-id">Phone you are commenting to:</label>
                                            {{ form.device_name }}
                                        </p>
                                    </div>
                                    <div class="col-md-6">
                                        <p>
                                            <label for="email-id">Email Address:</label>
                                            {{ form.email }}
                                        </p>
                                    </div>
                                   
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <p>
                                            <label for="comment">Your comment:</label>
                                           {{ form.comment }}
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <input type="submit"  value="Submit Comment" >
                                    </div>
                                </div>
                                </form>
								

                            </div> <!-- /.widget-inner -->
                        </div> <!-- /.widget-main -->
                    </div> <!-- /.col-md-12 -->
                </div> <!-- /.row -->
			</div> <!-- /.col-md-8 -->

			<div class="col-md-4">
				<div class="sidebar">
					<div class="sidebar-widget">
						<h5 class="widget-title">Recent Posts</h5>
						<h6 class="widget-title">Firmware and frp bypass files.</h6>
						{% for b in all %}
						<div class="last-post clearfix">
							<div class="thumb pull-left">
								<a href="#"><img src="{{ b.image1.url }}" alt=""></a>
								<span>24 February 2084</span>
								<h4><a href="#">phone: {{ b.name }}</a></h4>
								<h5>model: {{ b.type }}</h5>
							</div>
							
						</div> <!-- /.last-post -->
						{% endfor %}
					</div> <!-- /.sidebar-widget -->
					<div class="sidebar-widget">
						<h5 class="widget-title">Categories</h5>
						<div class="row categories">
							<div class="col-md-4">
								<ul>
									<li><a href="#">Standard</a></li>
									<li><a href="#">Audio</a></li>
									<li><a href="#">Video</a></li>
									<li><a href="#">Branding</a></li>
								</ul>
							</div>
							<div class="col-md-6">
								<ul>
									<li><a href="#">iOS Design</a></li>
									<li><a href="#">Business</a></li>
								</ul>
							</div>
						</div> <!-- /.row -->
					</div> <!-- /.sidebar-widget -->
					
				</div> <!-- /.sidebar -->
			</div> <!-- /.col-md-4 -->

		</div> <!-- /.row -->
	</div> <!-- /.container -->	



{% endblock %}