<!DOCTYPE html>

{% load static %}
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>gmpsolution</title>
    <meta name="keywords" content="#">
	<meta name="description" content="#">
    <meta name="author" content="templatemo">
    <!-- 
	Medigo Template
	http://www.templatemo.com/preview/templatemo_460_medigo
    -->

	<!-- Google Fonts -->
	<link href="http://fonts.googleapis.com/css?family=PT+Serif:400,700,400italic,700itali" rel="stylesheet">
	<link href="http://fonts.googleapis.com/css?family=Raleway:400,900,800,700,500,200,100,600" rel="stylesheet">

	<!-- Stylesheets -->
	<link rel="stylesheet" href="{% static 'bootstrap/bootstrap.css' %}">
	<link rel="stylesheet" href="{% static 'css/misc.css' %}">
	<link rel="stylesheet" href="{% static 'css/orange-scheme.css' %}">
	
	<!-- JavaScripts -->
	<script src="{% static 'js/jquery-1.10.2.min.js' %}"></script>
	<script src="{% static 'js/jquery-migrate-1.2.1.min.js' %}"></script>

	<link rel="shortcut icon" href="{% static 'images/sss.png' %}" type="image/x-icon" />

</head>

<body>
	<div class="responsive_menu">
        <ul class="main_menu">
            
            <li><a href="#">Menu</a>
            	<ul>
					<li class="active"><a href="{% url 'index' %}">Home</a></li>
					            <li><a href="{% url 'launch_android' %}">FRP BYPASS</a>
										
					            </li>
								<li><a href="#">FIRMWARE</a>
									<ul>
										<li><a href="{% url 'view_firmware' pk_test='SAMSUNG' %}">SAMSUNG</a></li>
										<li><a href="{% url 'view_firmware' pk_test='TECNO' %}">TECNO</a></li>
										<li><a href="{% url 'view_firmware' pk_test='OPPO' %}">OPPO</a></li>
										<li><a href="{% url 'view_firmware' pk_test='INFINIX' %}">INFINIX</a></li>
										<li><a href="{% url 'view_firmware' pk_test='NOKIA' %}">NOKIA</a></li>
										<li><a href="{% url 'view_firmware' pk_test='ITEL' %}">ITEL</a></li>
									</ul>
					            </li>
								<li><a href="#">CRACKED TOOLS</a>
					            	<ul>
										<li><a href="{% url 'cracked_tools' pk_test='SAMSUNG' %}">SAMSUNG</a></li>
										<li><a href="{% url 'cracked_tools' pk_test='TECNO' %}" >TECNO</a></li>
										<li><a href="{% url 'cracked_tools' pk_test='OPPO' %}" >OPPO</a></li>
										<li><a href="{% url 'cracked_tools' pk_test='INFINIX' %}">INFINIX</a></li>
										<li><a href="{% url 'cracked_tools' pk_test='NOKIA' %}">NOKIA</a></li>
										<li><a href="{% url 'cracked_tools' pk_test='ITEL' %}">ITEL</a></li>
									</ul>
					            </li>
					            <li><a href="#">VIDEO TUTORIALS</a>
									<ul>
										<li><a href="{% url 'video_torrent' pk_test='SAMSUNG' %}">SAMSUNG</a></li>
										<li><a href="{% url 'video_torrent' pk_test='TECNO' %}" >TECNO</a></li>
										<li><a href="{% url 'video_torrent' pk_test='OPPO' %}" >OPPO</a></li>
										<li><a href="{% url 'video_torrent' pk_test='INFINIX' %}">INFINIX</a></li>
										<li><a href="{% url 'video_torrent' pk_test='NOKIA' %}">NOKIA</a></li>
										<li><a href="{% url 'video_torrent' pk_test='ITEL' %}">ITEL</a></li>
									</ul>
					            </li>
					           
								<li><a href="{% url 'login' %}">Login</a></li>
        </ul> <!-- /.main_menu -->
    </div> <!-- /.responsive_menu -->

{% block header %}

	<header class="site-header clearfix">
		<div class="container">

			<div class="row">

				<div class="col-md-12">

					<div class="pull-left logo">
						<a href="#">
							<img style="height: 40px;" src="{% static 'images/sss.png' %}" alt="Medigo by templatemo">
						</a>
					</div>	<!-- /.logo -->

					<div class="main-navigation pull-right">

						<nav class="main-nav visible-md visible-lg">
							<ul class="sf-menu">
								<li class="active"><a href="{% url 'index' %}">Home</a></li>
					            <li><a href="{% url 'launch_android' %}">FRP BYPASS</a>
										
					            </li>
								<li><a href="#">FIRMWARE</a>
									<ul>
										<li><a href="{% url 'view_firmware' pk_test='SAMSUNG' %}">SAMSUNG</a></li>
										<li><a href="{% url 'view_firmware' pk_test='TECNO' %}">TECNO</a></li>
										<li><a href="{% url 'view_firmware' pk_test='OPPO' %}">OPPO</a></li>
										<li><a href="{% url 'view_firmware' pk_test='INFINIX' %}">INFINIX</a></li>
										<li><a href="{% url 'view_firmware' pk_test='NOKIA' %}">NOKIA</a></li>
										<li><a href="{% url 'view_firmware' pk_test='ITEL' %}">ITEL</a></li>
									</ul>
					            </li>
								<li><a href="#">CRACKED TOOLS</a>
					            	<ul>
										<li><a href="{% url 'cracked_tools' pk_test='SAMSUNG' %}">SAMSUNG</a></li>
										<li><a href="{% url 'cracked_tools' pk_test='TECNO' %}" >TECNO</a></li>
										<li><a href="{% url 'cracked_tools' pk_test='OPPO' %}" >OPPO</a></li>
										<li><a href="{% url 'cracked_tools' pk_test='INFINIX' %}">INFINIX</a></li>
										<li><a href="{% url 'cracked_tools' pk_test='NOKIA' %}">NOKIA</a></li>
										<li><a href="{% url 'cracked_tools' pk_test='ITEL' %}">ITEL</a></li>
									</ul>
					            </li>
					            <li><a href="#">VIDEO TUTORIALS</a>
									<ul>
										<li><a href="{% url 'video_torrent' pk_test='SAMSUNG' %}">SAMSUNG</a></li>
										<li><a href="{% url 'video_torrent' pk_test='TECNO' %}" >TECNO</a></li>
										<li><a href="{% url 'video_torrent' pk_test='OPPO' %}" >OPPO</a></li>
										<li><a href="{% url 'video_torrent' pk_test='INFINIX' %}">INFINIX</a></li>
										<li><a href="{% url 'video_torrent' pk_test='NOKIA' %}">NOKIA</a></li>
										<li><a href="{% url 'video_torrent' pk_test='ITEL' %}">ITEL</a></li>
									</ul>
					            </li>
					            
								<li><a href="{% url 'login' %}">login</a></li>
							</ul> <!-- /.sf-menu -->
						</nav> <!-- /.main-nav -->

						<!-- This one in here is responsive menu for tablet and mobiles -->
					    <div class="responsive-navigation visible-sm visible-xs">
					        <a href="#" class="menu-toggle-btn">
					            <i class="fa fa-bars"></i>
					        </a>
					    </div> <!-- /responsive_navigation -->

					</div> <!-- /.main-navigation -->

				</div> <!-- /.col-md-12 -->

			</div> <!-- /.row -->

		</div> <!-- /.container -->
	</header> <!-- /.site-header -->
{% endblock %}

{% block btitle %}
	<section id="homeIntro" class="parallax first-widget">
	    <div class="parallax-overlay">
		    <div class="container home-intro-content">
		        <div class="row">
		        	<div class="col-md-12">
		        		<h2>Choose Gmp Solutions to solve most of your problems</h2>
		        		<p>We listens and work with our clients to ensure we provide best service<br> use gmp solutions and download files you want for free. </p>
		        		<a href="#" class="large-button white-color">Download Free <i class="icon-button fa fa-download"></i></a>
		        	</div> <!-- /.col-md-12 -->
		        </div> <!-- /.row -->
		    </div> <!-- /.container -->
	    </div> <!-- /.parallax-overlay -->
	</section> <!-- /#homeIntro -->

	{% endblock %}

	{% block content %}
	<section class="light-content services">
		<div class="container">
			<div class="row">

				
				<div class="col-md-4 col-sm-4" style="margin-left: 35%;">
					<div class="service-box-wrap">
						<div class="service-icon-wrap">
							<i class="fa fa-mobile-phone fa-2x"></i>
						</div> <!-- /.service-icon-wrap -->
						<div class="service-cnt-wrap">
							<h3 class="service-title">Any problem with your device</h3>
							<p>Check <a rel="nofollow" href="http://fontawesome.io/icons/" target="_blank">Gmp-solutions</a> for your suitable solutions. Example: frp-bypass, firmwares installations and many more</p>
						</div> <!-- /.service-cnt-wrap -->
					</div> <!-- /.service-box-wrap -->
				</div> <!-- /.col-md-4 -->

				

			</div>

		</div> <!-- /.container -->
	</section> <!-- /.services -->

	<section class="dark-content portfolio">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="section-header">
						<h2 class="section-title">Product Services</h2>
						<p class="section-desc">Everything you need to repair your product.</p>
					</div> <!-- /.section-header -->
				</div> <!-- /.col-md-12 -->
			</div> <!-- /.row -->
		</div> <!-- /.container -->
		
		<div id="portfolio-carousel" class="portfolio-carousel portfolio-holder">
			<div class="item">
				<div class="thumb-post">
					<div class="overlay">
						<div class="overlay-inner">
							<div class="portfolio-infos">
								<span class="meta-category">-</span>
								<h3 class="portfolio-title"><a href="#">SAMSUNG</a></h3>
							</div>
							<div class="portfolio-expand">
								<a class="fancybox" href="#" title="Visual Admin">
									<i class="fa fa-expand"></i>
								</a>
							</div>
						</div>
					</div>
					<img src=" {% static 'images/includes/project11.jpeg' %}" alt="Visual Admin">
				</div>
			</div> <!-- /.item -->
			<div class="item">
				<div class="thumb-post">
					<div class="overlay">
						<div class="overlay-inner">
							<div class="portfolio-infos">
								<span class="meta-category">-</span>
								<h3 class="portfolio-title"><a href="#">OPPO</a></h3>
							</div>
							<div class="portfolio-expand">
								<a class="fancybox" href="{% static 'images/includes/project77.jpeg' %}" title="Compass Template">
									<i class="fa fa-expand"></i>
								</a>
							</div>
						</div>
					</div>
					<img src="{% static 'images/includes/project77.jpeg' %}" alt="Compass Template">
				</div>
			</div> <!-- /.item -->
			<div class="item">
				<div class="thumb-post">
					<div class="overlay">
						<div class="overlay-inner">
							<div class="portfolio-infos">
								<span class="meta-category">-</span>
								<h3 class="portfolio-title"><a href="#">INFINIX</a></h3>
							</div>
							<div class="portfolio-expand">
								<a class="fancybox" href="{% static 'images/includes/project33.jpeg' %}" title="Awesome Theme">
									<i class="fa fa-expand"></i>
								</a>
							</div>
						</div>
					</div>
					<img src="{% static 'images/includes/project33.jpeg' %}" alt="Awesome Theme">
				</div>
			</div> <!-- /.item -->
			<div class="item">
				<div class="thumb-post">
					<div class="overlay">
						<div class="overlay-inner">
							<div class="portfolio-infos">
								<span class="meta-category">-</span>
								<h3 class="portfolio-title"><a href="#">SAMSUNG</a></h3>
							</div>
							<div class="portfolio-expand">
								<a class="fancybox" href="{% static 'images/includes/project44.jpeg' %}" title="Volton Personal Site">
									<i class="fa fa-expand"></i>
								</a>
							</div>
						</div>
					</div>
					<img src="{% static 'images/includes/project44.jpeg' %}" alt="Volton Personal Site">
				</div>
			</div> <!-- /.item -->
			<div class="item">
				<div class="thumb-post">
					<div class="overlay">
						<div class="overlay-inner">
							<div class="portfolio-infos">
								<span class="meta-category">-</span>
								<h3 class="portfolio-title"><a href="#">INFINIX</a></h3>
							</div>
							<div class="portfolio-expand">
								<a class="fancybox" href="{% static 'images/includes/project55.jpeg' %}" title="Rectangle Design">
									<i class="fa fa-expand"></i>
								</a>
							</div>
						</div>
					</div>
					<img src="{% static 'images/includes/project55.jpeg' %}" alt="Rectangle Design">
				</div>
			</div> <!-- /.item -->
			<div class="item">
				<div class="thumb-post">
					<div class="overlay">
						<div class="overlay-inner">
							<div class="portfolio-infos">
								<span class="meta-category">-</span>
								<h3 class="portfolio-title"><a href="#">OPPO</a></h3>
							</div>
							<div class="portfolio-expand">
								<a class="fancybox" href="{% static 'images/includes/project66.jpeg' %}" title="Masonry Gallery">
									<i class="fa fa-expand"></i>
								</a>
							</div>
						</div>
					</div>
					<img src="{% static 'images/includes/project66.jpeg' %}" alt="Masonry Gallery">
				</div>
			</div> <!-- /.item -->
			<div class="item">
				<div class="thumb-post">
					<div class="overlay">
						<div class="overlay-inner">
							<div class="portfolio-infos">
								<span class="meta-category">Camon 18</span>
								<h3 class="portfolio-title"><a href="#">TECNO</a></h3>
							</div>
							<div class="portfolio-expand">
								<a class="fancybox" href="{% static 'images/includes/project22.jpeg' %}" title="TECNO">
									<i class="fa fa-expand"></i>
								</a>
							</div>
						</div>
					</div>
					<img src="{% static 'images/includes/project22.jpeg ' %}" alt="Gloss Template">
				</div>
			</div> <!-- /.item -->
		</div> <!-- /#owl-demo -->
	</section> <!-- /.portfolio-holder -->

	<section class="testimonials-widget">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="bxslider">
						<div class="testimonial">
							<div class="testimonial-content">
								<span class="testimonial-author">gmp - CEO</span>
								<p class="testimonial-description">Thank you for all your supporting gmp solutions in providing a better service for you.</p>
							</div>
						</div>
						<div class="testimonial">
							<div class="testimonial-content">
								<span class="testimonial-author"> Celine. - Customer 1</span>
								<p class="testimonial-description">Oh my god! i wish people could see and use this blog its Incredible and has almost everything.</p>
							</div>
						</div>
						<div class="testimonial">
							<div class="testimonial-content">
								<span class="testimonial-author">John - customer 2</span>
								<p class="testimonial-description">This blog has everything, the guide for doing the process made me love it.</p>
							</div>
						</div>
					</div> <!-- /.bxslider -->
				</div> <!-- /.col-md-12 -->
			</div> <!-- /.row -->
		</div> <!-- /.container -->
	</section> <!-- /.testimonials-widget -->

	<section class="light-content our-team">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="section-header">
						<h2 class="section-title">Meet our happy staff</h2>
						<p class="section-desc">Gmp Solutions keep track to ensure you have updated produts for your choice.</p>
					</div> <!-- /.section-header -->
				</div> <!-- /.col-md-12 -->
			</div> <!-- /.row -->
		</div> <!-- /.container -->
		<div class="team-members">
			<div class="container">
				<div class="row">

					<div class="col-md-4 col-sm-4">
						<div class="team-member">
							<div class="thumb-post">
								<img src="{% static 'images/includes/468g65.jpg' %}" alt="#">
								<span class="member-role">Gmp-solutions CEO</span>
							</div>
							<div class="member-content">
								<h4 class="member-name">Amy Groovy</h4>
								<p>Duis vitae consequat neque. Nulla pharetra eleifend nulla. </p>
							</div>
						</div> <!-- /.team-member -->
					</div> <!-- /.col-md-4 -->

					<div class="col-md-4 col-sm-4">
						<div class="team-member">
							<div class="thumb-post">
								<img src=" {% static 'images/includes/468g65.jpg' %}" alt="#">
								<span class="member-role">Web Developer</span>
							</div>
							<div class="member-content">
								<h4 class="member-name">Daudi Shayo</h4>
								<p>Duis vitae consequat neque. Nulla pharetra eleifend nulla. </p>
							</div>
						</div> <!-- /.team-member -->
					</div> <!-- /.col-md-4 -->

					<div class="col-md-4 col-sm-4">
						<div class="team-member">
							<div class="thumb-post">
								<img src="{% static 'images/includes/member3.jpg' %}" alt="#">
								<span class="member-role">Graphic Designer</span>
							</div>
							<div class="member-content">
								<h4 class="member-name">Linda Master</h4>
								<p>Duis vitae consequat neque. Nulla pharetra eleifend nulla. </p>
							</div>
						</div> <!-- /.team-member -->
					</div> <!-- /.col-md-4 -->

				</div> <!-- /.row -->
			</div> <!-- /.container -->
		</div> <!-- /.team-members -->
	</section> <!-- /.our-team -->
	
	<section id="blogPosts" class="parallax">
	    <div class="parallax-overlay">
		    <div class="container">
		        <div class="row">
		        	<div class="col-md-12">
		        		<div class="section-header">
							<h2 class="section-title">Recent services from our blog</h2>
							<p class="section-desc">Everything you need to fix and improve you device</p>
						</div> <!-- /.section-header -->
		        	</div> <!-- /.col-md-12 -->
		        </div> <!-- /.row -->
		        <div class="row latest-posts">
		        	<div class="col-md-4 col-sm-6">
		        		<div class="blog-post clearfix">
		        			<div class="thumb-post">
		        				<a href="#"><img src="{% static 'images/includes/project77.jpeg' %}" alt="#" class="img-circle"></a>
		        			</div>
		        			<div class="blog-post-content">
		        				<h4 class="post-title"><a href="#">Frp-bypass for most phones</a></h4>
		        				<span class="meta-post-date">12 February 2022</span>
		        			</div>
		        		</div> <!-- /.blog-post -->
		        	</div> <!-- /.col-md-4 -->
		        	<div class="col-md-4 col-sm-6">
		        		<div class="blog-post clearfix">
		        			<div class="thumb-post">
		        				<a href="#"><img src="{% static 'images/includes/project11.jpeg' %}" alt="#" class="img-circle"></a>
		        			</div>
		        			<div class="blog-post-content">
		        				<h4 class="post-title"><a href="#">Firmware for all android phones</a></h4>
		        				<span class="meta-post-date">10 February 2022</span>
		        			</div>
		        		</div> <!-- /.blog-post -->
		        	</div> <!-- /.col-md-4 -->
		        	<div class="col-md-4 col-sm-6">
		        		<div class="blog-post clearfix">
		        			<div class="thumb-post">
		        				<a href="#"><img src="{% static 'images/includes/project44.jpeg' %}" alt="#" class="img-circle"></a>
		        			</div>
		        			<div class="blog-post-content">
		        				<h4 class="post-title"><a href="#">Also cracked tools for your device</a></h4>
		        				<span class="meta-post-date">8 February 2022</span>
		        			</div>
		        		</div> <!-- /.blog-post -->
		        	</div> <!-- /.col-md-4 -->
		        </div> <!-- /.row -->
		    </div> <!-- /.container -->
	    </div> <!-- /.parallax-overlay -->
	</section> <!-- /#blogPosts -->

	{% endblock %}

	{% block footer %}
	<footer class="site-footer">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<nav class="footer-nav clearfix">
						<ul class="footer-menu">
							<li><a href="#">Home</a></li>
							<li><a href="#">Frp-bypass</a></li>
							<li><a href="#">cracked tools</a></li>
							<li><a href="#">firmwares</a></li>
						</ul> <!-- /.footer-menu -->
					</nav> <!-- /.footer-nav -->
				</div> <!-- /.col-md-12 -->
			</div> <!-- /.row -->
			<div class="row">
				<div class="col-md-12">
					<p class="copyright-text">Copyright &copy; 2022 shayo
                    | Design: dysgn</p>
				</div> <!-- /.col-md-12 -->
			</div> <!-- /.row -->
		</div> <!-- /.container -->
	</footer> <!-- /.site-footer -->

{% endblock %}

	<!-- Scripts -->
	<script src="{% static 'js/min/plugins.min.js' %}"></script>
	<script src="{% static 'js/min/medigo-custom.min.js' %}"></script>


	<style>
	table{
		size: 500px;
	}
	
	table td, th {
		
		border: 1px solid #000 ;
		border-left: 0;
		padding: 6px 12px;
		min-width: max-content;
		align-content: center;
	  
	}
	
	table td {  
		border-top: 0; 
	}
	
	table th{
	  max-width: 10%;
	  
	}
	
		 </style>



</body>
</html>