{% extends 'index.html' %}
{% block btitle %}

{% endblock %}

{% block content %}

<div class="first-widget parallax" id="blog">
    <div class="parallax-overlay">
        <div class="container pageTitle">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <h2 class="page-title">RESET PASSWORD</h2>
                </div> <!-- /.col-md-6 -->
                
            </div> <!-- /.row -->
        </div> <!-- /.container -->
    </div> <!-- /.parallax-overlay -->
</div> <!-- /.pageTitle -->





<div class="container  " >	
    <div class="row">
        <div class="col-md-12">
            <div class="comment-form">
                
                <div class="widget-inner">
                    <p>
                        Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.
                    </p>
                    <form action="" method="post">
                        {% csrf_token %}
                        {{ form}}
                    
                        <button type="submit" >reset my password</button>
                    </form>
                    

                </div> <!-- /.widget-inner -->
            </div> <!-- /.widget-main -->
        </div> <!-- /.col-md-12 -->
    </div> <!-- /.row -->

</div> <!-- /.row -->
</div> <!-- /.container -->	



{% endblock %}